n8n/send-draft.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "send-draft",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "18feb8d6-00e6-4902-b91e-04df5ae2bff5",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                -320,
                16
            ],
            "webhookId": "f2f2a0f5-74d6-4434-9ba1-112863628a68"
        },
        {
            "parameters": {
                "sendTo": "={{ $('Webhook').item.json.body.email }}",
                "subject": "=[{{ $('Webhook').item.json.body.id }}] Draft umowy",
                "message": "=<p>Dzień dobry,</p>\n\n<p>W załączniku przesyłamy draft naszej umowy. Proszę o zapoznanie się z jego treścią i akceptację.</p>\n\n<p>Abyśmy mogli sprawnie rozpocząć pracę, prześlij podpisaną umowę, oraz inspiracje do projektu, korzystając z poniższego linku:</p>\n\n<p><a href=\"https://{{ $('Webhook').item.json.headers.host.split('n8n.')[1] }}/application?id={{ $('Webhook').item.json.body.id }}&email={{ $('Webhook').item.json.body.email }}\" style=\"font-weight: bold; color: #0056b3;\">👉 Wgraj umowę i inspiracje tutaj</a></p>\n\n<p>W razie pytań pozostajemy do dyspozycji.</p>\n\n<p>Pozdrawiamy serdecznie,<br>Zespół Projekt na CITO</p>\n\n<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"font-family: Arial, sans-serif; font-size: 13px; color:\n    #000000;\">\n    <tr>\n        <td style=\"padding-right: 20px; vertical-align: middle; border-right: 2px solid #000000;\">\n            <!-- Logo CITO --> <img src=\"https://projektnacito.com.pl/logo/logo.png\" alt=\"Projekt na CITO\" width=\"180\"\n                style=\"display: block;\" />\n        </td>\n        <td style=\"padding-left: 20px; vertical-align: top;\">\n            <!-- Nazwa firmy -->\n            <p style=\"margin: 0 0 1px 0; font-size: 20px; font-weight: 700; color: #000000; line-height: 1.2;\">Projekt\n                na CITO</p>\n            <p style=\"margin: 0 0 6px 0; font-size: 12px; font-weight: 400; color: #000000; line-height: 1.2;\">Studio\n                projektowania wnętrz</p> <!-- Social media -->\n            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 6px;\">\n                <tr>\n                    <td style=\"padding-bottom: 3px; vertical-align: middle;\"> <a\n                            href=\"https://www.instagram.com/projektna_cito/\" style=\"text-decoration: none; color:\n                            #000000; font-size: 12px;\"> <img\n                                src=\"https://img.icons8.com/ios/50/000000/instagram-new.png\" alt=\"Instagram\" width=\"15\"\n                                height=\"15\" style=\"display: inline-block; vertical-align: middle;\n                                margin-right: 4px;\" /> <span style=\"vertical-align: middle;\">projektna_cito</span>\n                        </a> </td>\n                </tr>\n                <tr>\n                    <td style=\"vertical-align: middle;\"> <a\n                            href=\"https://www.facebook.com/people/Projekt-na-CITO/61552032200917/\"\n                            style=\"text-decoration: none; color: #000000; font-size: 12px;\"> <img\n                                src=\"https://img.icons8.com/ios-filled/50/000000/facebook-new.png\" alt=\"Facebook\"\n                                width=\"15\" height=\"15\" style=\"display: inline-block; vertical-align: middle;\n                                margin-right: 4px;\" /> <span style=\"vertical-align: middle;\">Projekt na CITO</span>\n                        </a> </td>\n                </tr>\n            </table> <!-- Kontakty -->\n            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 6px;\">\n                <tr>\n                    <td style=\"padding-right: 20px; vertical-align: top;\">\n                        <p style=\"margin: 0 0 1px 0; font-size: 13px; font-weight: 700; color: #000000; line-height:\n                            1.2;\">Angelika Kłos</p>\n                        <p style=\"margin: 0; font-size: 12px; color: #000000; line-height: 1.2;\">+48 697 909 309</p>\n                    </td>\n                    <td style=\"vertical-align: top;\">\n                        <p style=\"margin: 0 0 1px 0; font-size: 13px; font-weight: 700; color: #000000; line-height:\n                            1.2;\">Klaudia Kołakowska</p>\n                        <p style=\"margin: 0; font-size: 12px; color: #000000; line-height: 1.2;\">+48 698 354 726</p>\n                    </td>\n                </tr>\n            </table> <!-- Godziny pracy -->\n            <p style=\"margin: 0 0 1px 0; font-size: 11px; color: #555555; line-height: 1.2;\">godziny pracy</p>\n            <p style=\"margin: 0; font-size: 11px; color: #555555; line-height: 1.2;\">pon–pt 10:00–18:00</p>\n        </td>\n    </tr>\n</table>",
                "options": {
                    "appendAttribution": false,
                    "attachmentsUi": {
                        "attachmentsBinary": [
                            {
                                "property": "file"
                            }
                        ]
                    }
                }
            },
            "id": "0156b912-e34b-4096-a351-0bcf61751f17",
            "name": "Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                -96,
                112
            ],
            "webhookId": "ee05b9b7-d8ab-4122-8dad-aa9e8482dc80",
            "credentials": {
                "gmailOAuth2": {
                    "id": "hJOKC0vaNcJfiaFS",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "inputDataFieldName": "file",
                "name": "Draft umowy",
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "={{ $('Webhook').item.json.body.catalogueID }}",
                    "mode": "id"
                },
                "options": {}
            },
            "id": "5f683c55-1ba6-4744-94b7-616e9d51a40a",
            "name": "Google Drive",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -96,
                -80
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "rDUDzSbGgZOID1m3",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"status\": \"success\"\n}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "46ed4be2-640f-40ca-9e79-fbc5341c6754",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                352,
                112
            ]
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                128,
                16
            ],
            "id": "04d8c153-388a-44a6-82e2-3e6d907f5c7d",
            "name": "Merge"
        },
        {
            "parameters": {
                "chatId": "-5216597047",
                "text": "=Draft umowy {{ $('Webhook').item.json.body.id }} został pozytywnie wysłany do {{ $('Webhook').item.json.body.email }}.",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "id": "d0b087fc-c920-4c18-974f-95b5102fe61b",
            "name": "Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                352,
                -80
            ],
            "webhookId": "b148b637-08e5-4c8d-8311-5f946783f191",
            "credentials": {
                "telegramApi": {
                    "id": "YwIYvsgq3gsVlysO",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Google Drive",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Google Drive": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram": {
            "main": [
                []
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "e9696b3a570d6fcf2d2300f6666877d4d6947cf19d96f48d62d0972646fdaf29"
    }
}