n8n/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "init",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "dd8abacf-4579-483d-8411-83d26d11cc3b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1136,
        1248
      ],
      "webhookId": "projektnacito-form"
    },
    {
      "parameters": {
        "jsCode": "// Konwertuj base64 na binarny plik\nconst attachment = $input.first().json.body.attachment;\n\nif (!attachment || !attachment.data) {\n  throw new Error('Brak danych załącznika');\n}\n\n// Przekonwertuj base64 na Buffer\nconst binaryData = Buffer.from(attachment.data, 'base64');\n\n// Zwróć item z binarnym plikiem\nreturn {\n  json: $input.first().json,\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      binaryData,\n      attachment.filename,\n      attachment.mimeType\n    )\n  }\n};"
      },
      "id": "421b905e-55a2-4249-a1b0-65f5b6a1c494",
      "name": "Konwertuj Base64 na plik",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1248
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.body.data.packageType }}_{{ $now.format('yyyy-MM-dd_HH-mm') }}_{{ $json.body.data.userName.replace(' ', '_') }}.{{ $json.body.attachment.filename.split('.').pop() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1jyIrAqhfeIx6yVmBxK2Aqzpy-XvL6cey",
          "mode": "id"
        },
        "options": {}
      },
      "id": "e8e6e733-61ed-4cc5-8cf3-b33b5e7ccd9c",
      "name": "Google Drive - Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        1248
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rDUDzSbGgZOID1m3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QlSxoSbUVJD5QAPXANf4HMKGqxApqnA-8f351NsmTys",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QlSxoSbUVJD5QAPXANf4HMKGqxApqnA-8f351NsmTys/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Pakiet": "={{ $('Webhook').item.json.body.data.packageType }}",
            "Telefon": "={{ $('Webhook').item.json.body.data.userPhone }}",
            "Imię i nazwisko": "={{ $('Webhook').item.json.body.data.userName || \"-\" }}",
            "Cena netto (zł)": "={{ $('Webhook').item.json.body.data.estimatedPrice }}",
            "Projekt elektryczny": "={{ $('Webhook').item.json.body.data.details.electricProject || \"-\" }}",
            "Metraż elektryczny": "={{ $('Webhook').item.json.body.data.details.electricM2 || \"-\" }}",
            "Link do pliku": "={{ $json.webContentLink }}",
            "Data": "={{ $json.createdTime }}",
            "Pokoje": "={{ $('Webhook').item.json.body.data.details.rooms || \"-\" }}",
            "Metraż całkowity": "={{ $('Webhook').item.json.body.data.details.totalM2 || \"-\" }}",
            "Metraż kuchni": "={{ $('Webhook').item.json.body.data.details.kitchenM2 || \"-\" }}",
            "Metraż łazienek": "={{ $('Webhook').item.json.body.data.details.bathM2 || \"-\" }}",
            "ID": "={{ $('Webhook').item.json.body.data.submissionId }}",
            "Email": "={{ $('Webhook').item.json.body.data.userEmail }}",
            "Cena brutto (zł)": "={{ $('Webhook').item.json.body.data.estimatedPrice * 1.23 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pakiet",
              "displayName": "Pakiet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imię i nazwisko",
              "displayName": "Imię i nazwisko",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefon",
              "displayName": "Telefon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cena netto (zł)",
              "displayName": "Cena netto (zł)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cena brutto (zł)",
              "displayName": "Cena brutto (zł)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pokoje",
              "displayName": "Pokoje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Projekt elektryczny",
              "displayName": "Projekt elektryczny",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Metraż elektryczny",
              "displayName": "Metraż elektryczny",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Metraż całkowity",
              "displayName": "Metraż całkowity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Metraż kuchni",
              "displayName": "Metraż kuchni",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Metraż łazienek",
              "displayName": "Metraż łazienek",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link do pliku",
              "displayName": "Link do pliku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e1b3abd6-24d9-4a1e-9fb6-0f21de7ad82a",
      "name": "Google Sheets (z plikiem)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1808,
        1248
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TlGquhNuKtBM7aT5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "projektnacitobiuro@gmail.com",
        "subject": "=[{{ $('Webhook').item.json.body.data.submissionId }}] Nowe zgłoszenie: {{ $('Webhook').item.json.body.data.packageType === 'cito' ? 'Pakiet Cito' : $('Webhook').item.json.body.data.packageType === 'premium' ? 'Pakiet Premium' : 'Konsultacja' }} - {{ $('Webhook').item.json.body.data.userName }}",
        "message": "=<h2>Nowe zgłoszenie z formularza Projekt na Cito</h2>\n\n<p><strong>Pakiet:</strong> {{ $('Webhook').item.json.body.data.packageType === 'cito' ? 'Cito' : $('Webhook').item.json.body.data.packageType === 'premium' ? 'Premium' : 'Konsultacja' }}</p>\n\n<p><strong>Dane klienta:</strong></p>\n<ul>\n<li>Imię i nazwisko: {{ $('Webhook').item.json.body.data.userName }}</li>\n<li>Telefon: {{ $('Webhook').item.json.body.data.userPhone }}</li>\n<li>Email: {{ $('Webhook').item.json.body.data.userEmail }}</li>\n</ul>\n\n<p><strong>Wycena:</strong> {{ $('Webhook').item.json.body.data.estimatedPrice ? $('Webhook').item.json.body.data.estimatedPrice + ' zł netto' : $('Webhook').item.json.body.data.rate }}</p>\n\n{{ $('Webhook').item.json.body.data.details?.rooms ? '<p><strong>Wybrane pomieszczenia:</strong> ' + Object.entries($('Webhook').item.json.body.data.details.rooms).map(([k,v]) => k + ' x' + v).join(', ') + '</p>' : '' }}\n\n{{ $('Webhook').item.json.body.data.details?.electricProject ? '<p><strong>Projekt elektryczny:</strong> Tak (' + $('Webhook').item.json.body.data.details.electricM2 + ' m²)</p>' : '' }}\n\n{{ $('Webhook').item.json.body.data.details?.totalM2 ? '<p><strong>Metraż:</strong> ' + $('Webhook').item.json.body.data.details.totalM2 + ' m² (kuchnia: ' + ($('Webhook').item.json.body.data.details.kitchenM2 || 0) + ' m², łazienki: ' + ($('Webhook').item.json.body.data.details.bathM2 || 0) + ' m²)</p>' : '' }}\n\n<p><strong>Załącznik:</strong> {{ $('Google Drive - Upload').item.json.webContentLink || 'Brak'}}</p>\n\n<hr>\n<p><em>Wiadomość wygenerowana automatycznie przez system Projekt na Cito</em></p>",
        "options": {
          "appendAttribution": false,
          "senderName": "Projekt na Cito"
        }
      },
      "id": "a410e3fd-1a49-4c42-9d30-8c8b28ed9150",
      "name": "Gmail (z plikiem)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2032,
        1248
      ],
      "webhookId": "e8ec8260-a220-4d12-a4fe-156f64556fe7",
      "credentials": {
        "gmailOAuth2": {
          "id": "hJOKC0vaNcJfiaFS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.data.userEmail }}",
        "subject": "=[{{ $('Webhook').item.json.body.data.submissionId }}] Projekt na Cito - Wstępna umowa",
        "message": "=<p>Dzień dobry {{ $('Webhook').item.json.body.data.userName }},</p>\n\n<p>Dziękujemy za zaufanie i cieszymy się na współpracę przy projektowaniu Państwa wnętrza.</p>\n\n<p>W załączeniu przesyłamy wstępną wersję umowy. W najbliższych dniach skontaktujemy się z Państwem i udostępnimy ostateczną wersję dokumentu z kwotami brutto.</p>\n\n<p>Potwierdzamy, że wartość projektu w ustalonym zakresie wynosi <strong>{{ $('Webhook').item.json.body.data.estimatedPrice }} zł netto</strong>.</p>\n\n<p>Pozostajemy do Państwa dyspozycji – w razie pytań lub wątpliwości prosimy o kontakt telefoniczny.</p>\n\n<p>Pozdrawiamy serdecznie,<br>Zespół Projekt na CITO</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "senderName": "Projekt na Cito"
        }
      },
      "id": "3004ad5b-b18d-4097-9fdb-374bb0bc4403",
      "name": "Gmail (do klienta)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2480,
        1248
      ],
      "webhookId": "251c4e6f-b05b-46a0-a512-165fe04f99bb",
      "credentials": {
        "gmailOAuth2": {
          "id": "hJOKC0vaNcJfiaFS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5216597047",
        "text": "=Nowe zgłoszenie: {{ $('Webhook').item.json.body.data.submissionId }}\n\n{{ $('Webhook').item.json.body.data.packageType === 'cito' ? 'Pakiet Cito' : $('Webhook').item.json.body.data.packageType === 'premium' ? 'Pakiet Premium' : 'Konsultacja' }} - {{ $('Webhook').item.json.body.data.userName }}\n\nTelefon: {{ $('Webhook').item.json.body.data.userPhone }}\nEmail: {{ $('Webhook').item.json.body.data.userEmail }}\nWycena: {{ $('Webhook').item.json.body.data.estimatedPrice ? $('Webhook').item.json.body.data.estimatedPrice + ' zł netto' : $('Webhook').item.json.body.data.rate }}\nZałącznik: {{ $('Google Drive - Upload').item.json.webContentLink || 'Brak' }}",
        "additionalFields": {}
      },
      "id": "440dd227-c97d-48f9-b3fd-e37588110c8e",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2704,
        1248
      ],
      "webhookId": "0d133324-5240-4d05-bd6d-64dd75be4f43",
      "credentials": {
        "telegramApi": {
          "id": "YwIYvsgq3gsVlysO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Zgłoszenie zostało przyjęte' }) }}",
        "options": {}
      },
      "id": "192e33c9-812a-4f29-96ef-0ccb48580286",
      "name": "Odpowiedź (z plikiem)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2928,
        1248
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "10lcNi71shYH1-FzdM1vd8IdjtXw7ACL2",
          "mode": "list",
          "cachedResultName": "Testowa umowa.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/10lcNi71shYH1-FzdM1vd8IdjtXw7ACL2/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2256,
        1248
      ],
      "id": "4b1d8572-9c5e-4cb8-8c75-cf84119c7e40",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rDUDzSbGgZOID1m3",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Konwertuj Base64 na plik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Konwertuj Base64 na plik": {
      "main": [
        [
          {
            "node": "Google Drive - Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload": {
      "main": [
        [
          {
            "node": "Google Sheets (z plikiem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (z plikiem)": {
      "main": [
        [
          {
            "node": "Gmail (z plikiem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail (z plikiem)": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail (do klienta)": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Odpowiedź (z plikiem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Gmail (do klienta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9696b3a570d6fcf2d2300f6666877d4d6947cf19d96f48d62d0972646fdaf29"
  }
}