n8n/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "init",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "5682bf84-7957-4e43-9379-bae2cf764776",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        896,
        912
      ],
      "webhookId": "projektnacito-form"
    },
    {
      "parameters": {
        "jsCode": "// Konwertuj base64 na binarny plik\nconst attachment = $input.first().json.body.attachment;\n\nif (!attachment || !attachment.data) {\n  throw new Error('Brak danych załącznika');\n}\n\n// Przekonwertuj base64 na Buffer\nconst binaryData = Buffer.from(attachment.data, 'base64');\n\n// Zwróć item z binarnym plikiem\nreturn {\n  json: $input.first().json,\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      binaryData,\n      attachment.filename,\n      attachment.mimeType\n    )\n  }\n};"
      },
      "id": "57105a3f-e507-45db-956b-8c91ce443052",
      "name": "Konwertuj Base64 na plik",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        912
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.body.data.packageType }}_{{ $now.format('yyyy-MM-dd_HH-mm') }}_{{ $json.body.data.userName.replace(' ', '_') }}.{{ $json.body.attachment.filename.split('.').pop() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1jyIrAqhfeIx6yVmBxK2Aqzpy-XvL6cey",
          "mode": "id"
        },
        "options": {}
      },
      "id": "ebb61dd4-2cba-426f-8559-0d7d7c79d750",
      "name": "Google Drive - Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1344,
        912
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rDUDzSbGgZOID1m3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QlSxoSbUVJD5QAPXANf4HMKGqxApqnA-8f351NsmTys",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QlSxoSbUVJD5QAPXANf4HMKGqxApqnA-8f351NsmTys/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Pakiet": "={{ $('Webhook').item.json.body.data.packageType }}",
            "Telefon": "={{ $('Webhook').item.json.body.data.userPhone }}",
            "Imię i nazwisko": "={{ $('Webhook').item.json.body.data.userName || \"-\" }}",
            "Cena netto (zł)": "={{ $('Webhook').item.json.body.data.estimatedPrice }}",
            "Projekt elektryczny": "={{ $('Webhook').item.json.body.data.details.electricProject || \"-\" }}",
            "Metraż elektryczny": "={{ $('Webhook').item.json.body.data.details.electricM2 || \"-\" }}",
            "Link do pliku": "={{ $json.webContentLink }}",
            "Data": "={{ $json.createdTime }}",
            "Pokoje": "={{ $('Webhook').item.json.body.data.details.rooms || \"-\" }}",
            "Metraż całkowity": "={{ $('Webhook').item.json.body.data.details.totalM2 || \"-\" }}",
            "Metraż kuchni": "={{ $('Webhook').item.json.body.data.details.kitchenM2 || \"-\" }}",
            "Metraż łazienek": "={{ $('Webhook').item.json.body.data.details.bathM2 || \"-\" }}",
            "ID": "={{ $('Webhook').item.json.body.data.submissionId }}",
            "Email": "={{ $('Webhook').item.json.body.data.userEmail }}",
            "Cena brutto (zł)": "={{ $('Webhook').item.json.body.data.estimatedPrice * 1.23 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pakiet",
              "displayName": "Pakiet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imię i nazwisko",
              "displayName": "Imię i nazwisko",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefon",
              "displayName": "Telefon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cena netto (zł)",
              "displayName": "Cena netto (zł)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cena brutto (zł)",
              "displayName": "Cena brutto (zł)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pokoje",
              "displayName": "Pokoje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Projekt elektryczny",
              "displayName": "Projekt elektryczny",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Metraż elektryczny",
              "displayName": "Metraż elektryczny",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Metraż całkowity",
              "displayName": "Metraż całkowity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Metraż kuchni",
              "displayName": "Metraż kuchni",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Metraż łazienek",
              "displayName": "Metraż łazienek",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link do pliku",
              "displayName": "Link do pliku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3066dafc-0a7d-44f3-a183-d3c93c39fc5f",
      "name": "Google Sheets (z plikiem)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1568,
        912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TlGquhNuKtBM7aT5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "projektnacitobiuro@gmail.com",
        "subject": "=[{{ $('Webhook').item.json.body.data.submissionId }}] Nowe zgłoszenie: {{ $('Webhook').item.json.body.data.packageType === 'cito' ? 'Pakiet Cito' : $('Webhook').item.json.body.data.packageType === 'premium' ? 'Pakiet Premium' : 'Konsultacja' }} - {{ $('Webhook').item.json.body.data.userName }}",
        "message": "=<h2>Nowe zgłoszenie z formularza Projekt na Cito</h2>\n\n<p><strong>Pakiet:</strong> {{ $('Webhook').item.json.body.data.packageType === 'cito' ? 'Cito' : $('Webhook').item.json.body.data.packageType === 'premium' ? 'Premium' : 'Konsultacja' }}</p>\n\n<p><strong>Dane klienta:</strong></p>\n<ul>\n<li>Imię i nazwisko: {{ $('Webhook').item.json.body.data.userName }}</li>\n<li>Telefon: {{ $('Webhook').item.json.body.data.userPhone }}</li>\n<li>Email: {{ $('Webhook').item.json.body.data.userEmail }}</li>\n</ul>\n\n<p><strong>Wycena:</strong> {{ $('Webhook').item.json.body.data.estimatedPrice ? $('Webhook').item.json.body.data.estimatedPrice + ' zł netto' : $('Webhook').item.json.body.data.rate }}</p>\n\n{{ $('Webhook').item.json.body.data.details?.rooms ? '<p><strong>Wybrane pomieszczenia:</strong> ' + Object.entries($('Webhook').item.json.body.data.details.rooms).map(([k,v]) => k + ' x' + v).join(', ') + '</p>' : '' }}\n\n{{ $('Webhook').item.json.body.data.details?.electricProject ? '<p><strong>Projekt elektryczny:</strong> Tak (' + $('Webhook').item.json.body.data.details.electricM2 + ' m²)</p>' : '' }}\n\n{{ $('Webhook').item.json.body.data.details?.totalM2 ? '<p><strong>Metraż:</strong> ' + $('Webhook').item.json.body.data.details.totalM2 + ' m² (kuchnia: ' + ($('Webhook').item.json.body.data.details.kitchenM2 || 0) + ' m², łazienki: ' + ($('Webhook').item.json.body.data.details.bathM2 || 0) + ' m²)</p>' : '' }}\n\n<p><strong>Załącznik:</strong> {{ $('Google Drive - Upload').item.json.webContentLink || 'Brak'}}</p>\n\n<hr>\n<p><em>Wiadomość wygenerowana automatycznie przez system Projekt na Cito</em></p>",
        "options": {
          "appendAttribution": false,
          "senderName": "Projekt na Cito"
        }
      },
      "id": "8bf6c38d-0f74-4f83-a974-e732ff74cf35",
      "name": "Gmail (z plikiem)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        912
      ],
      "webhookId": "e8ec8260-a220-4d12-a4fe-156f64556fe7",
      "credentials": {
        "gmailOAuth2": {
          "id": "hJOKC0vaNcJfiaFS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5216597047",
        "text": "=Nowe zgłoszenie: {{ $('Webhook').item.json.body.data.submissionId }}\n\n{{ $('Webhook').item.json.body.data.packageType === 'cito' ? 'Pakiet Cito' : $('Webhook').item.json.body.data.packageType === 'premium' ? 'Pakiet Premium' : 'Konsultacja' }} - {{ $('Webhook').item.json.body.data.userName }}\n\nTelefon: {{ $('Webhook').item.json.body.data.userPhone }}\nEmail: {{ $('Webhook').item.json.body.data.userEmail }}\nWycena: {{ $('Webhook').item.json.body.data.estimatedPrice ? $('Webhook').item.json.body.data.estimatedPrice + ' zł netto' : $('Webhook').item.json.body.data.rate }}\nZałącznik: {{ $('Google Drive - Upload').item.json.webContentLink || 'Brak' }}",
        "additionalFields": {}
      },
      "id": "5bce2f9c-bc16-4f1b-9502-3e7455b726e5",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2016,
        912
      ],
      "webhookId": "0d133324-5240-4d05-bd6d-64dd75be4f43",
      "credentials": {
        "telegramApi": {
          "id": "YwIYvsgq3gsVlysO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Zgłoszenie zostało przyjęte' }) }}",
        "options": {}
      },
      "id": "eed3aaa2-f8d0-464f-9bc5-d6196b4347ea",
      "name": "Odpowiedź (z plikiem)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2240,
        912
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Konwertuj Base64 na plik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Konwertuj Base64 na plik": {
      "main": [
        [
          {
            "node": "Google Drive - Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload": {
      "main": [
        [
          {
            "node": "Google Sheets (z plikiem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (z plikiem)": {
      "main": [
        [
          {
            "node": "Gmail (z plikiem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail (z plikiem)": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Odpowiedź (z plikiem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9696b3a570d6fcf2d2300f6666877d4d6947cf19d96f48d62d0972646fdaf29"
  }
}